openapi: '3.0.0'
info:
  version: 1.0.0
  title: Thomas Documentation API
  license:
    name: MIT
servers:
  - url: https://api.thomasdocs.com/v1
paths:
  /docs:
    get:
      summary: List all documentation spaces
      operationId: listDocs
      parameters:
        - name: limit
          in: query
          description: How many items to return at one time (max 100)
          required: false
          schema:
            type: integer
            format: int32
      responses:
        200:
          description: An paged array of documentation spaces
          headers:
            x-next:
              description: A link to the next page of responses
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Docs'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      summary: Create a new documentation space
      operationId: createDocs
      responses:
        201:
          description: Space created successfully
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /docs/{docId}:
    get:
      summary: Retrieve details of a specific documentation space
      operationId: showDocById
      parameters:
        - name: docId
          in: path
          required: true
          description: The unique identifier of the documentation space
          schema:
            type: string
      responses:
        200:
          description: Details of the requested documentation space
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Docs'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /users:
    get:
      summary: List all users in the system
      operationId: listUsers
      parameters:
        - name: limit
          in: query
          description: Number of users to retrieve per page
          required: false
          schema:
            type: integer
            format: int32
      responses:
        200:
          description: A paginated list of users with their details
          headers:
            x-next:
              description: Link to the next page of results
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Users'
        default:
          description: Unexpected error occurred
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      summary: Add a new user to the system
      operationId: createUser
      responses:
        201:
          description: User successfully created
        default:
          description: Unexpected error occurred
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Doc:
      required:
        - id
        - name
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        description:
          type: string
    Docs:
      type: array
      items:
        $ref: '#/components/schemas/Doc'
    User:
      required:
        - id
        - email
      properties:
        id:
          type: integer
          format: int64
        email:
          type: string
        name:
          type: string
    Users:
      type: array
      items:
        $ref: '#/components/schemas/User'
    Error:
      required:
        - code
        - message
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string
